<h1>
    Sign In
</h1>

<form action="/users/createSession" method="post">
    <input type="email" name="email" placeholder="Enter your Email" required>
    <input type="password" name="password" placeholder="Enter your Passward" required>
    <!-- <input type="password" name="confirm_password" placeholder="Re-Enter your Passward" required>
    <input type="text" name="name" placeholder="Enter your name"> -->
    <input type="submit" value="SignIn">
</form>